# Node dependencies
node_modules/

# AWS CDK artifacts
cdk.out/
.cloudformation/
dist/

# Environment & credentials
.env
*.env
.aws-credentials
credentials.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/editor temp files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
